<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Plotly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

        <!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

        <title>TMC Summarizer</title>

        <style>
            .transparent-white{
                background-color:rgba(255,255,255,0.5) !important;
                border:none !important;
            }
            .table>thead>tr>th {
                border-top: none;
            }
            .small-table-text{
                font-size: 70%;
            }
        </style>


    </head>
    <body style='height: 100%'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand" >
                <a class="navbar-brand" href="/">TurningMovementCount.app</a>
            </div>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- GEAR ICON dropdown -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/all-projects">Projects</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/all-files">Files</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/rainbow-selector">&#x1F308</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>


                </ul>
            </div>
        </nav>

        <div class="container-fluid" style="{{ current_user.background }}; height: 93.5vh; background-repeat: no-repeat;background-attachment: fixed;"> 
            <div class="row pl-4 pr-4 pt-4">
                <div class="col-4 p-4 rounded transparent-white">
                    <h1>
                        TMC Files
                    </h1>
                    <hr>
                    <p>
                        Upload a TMC file using the form below:
                    </p>
                    <form method="post" action="/upload-file" enctype="multipart/form-data">
                        {{form.csrf_token }}
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="selected_file" name="selected_file" multiple>
                            <label class="custom-file-label" for="selected_file">Select a .xls file</label>
                        </div>
            
                        <button type="submit" class="btn btn-outline-primary mt-2">Validate & Upload</button>
                    </form>
                </div>
                <div class="col-8 pl-2 pr-0 rounded" style="height: 40vh;">
                    <div id="mapid" style="height: 100%" class="pr-0">
                      <script>
                        var mymap = L.map('mapid').setView([39.952297, -75.163743], 10);
          
                        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                              maxZoom: 18,
                              id: 'mapbox/streets-v11',
                              tileSize: 512,
                              zoomOffset: -1,
                              accessToken: 'pk.eyJ1IjoiYWFyb25kdnJwYyIsImEiOiJja2NvN2s5dnAwaWR2MnptbzFwYmd2czVvIn0.Fcc34gzGME_zHR5q4RnSOg'
                          }).addTo(mymap);
        
                          var data = {{latlngs | safe}}
        
                          var all_pins = L.featureGroup().addTo(mymap);
        
                          for (var i = 0; i < data.length; i++) {
                            marker = new L.marker([data[i][0], data[i][1]])
                              .bindPopup("<a href='/file/" + data[i][3] + "'>" + data[i][2] + "</a>")
                              .addTo(mymap);
                              // marker_list.push(marker)
                              all_pins.addLayer(marker);
                          }
        
                          mymap.fitBounds(all_pins.getBounds());
        
        
                      </script>
          
                    </div>
          
                  </div>                
            </div>


            <!-- Flashed messages -->
            <div id="alert-container" class="row">
                <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class=flashes>
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-2 mb-0" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                </div>
            </div>            


            <div class="row pl-4 pr-4 pt-2">
                <div class="col-12 p-4 rounded transparent-white">
                    <table class="table table-sm " style="border-top:none">
                        <thead>
                            <tr>
                                <th scope="col">File Name</th>
                                <th scope="col">Model ID</th>
                                <th scope="col">AM Peak</th>
                                <th scope="col">AM Volume</th>
                                <th scope="col">PM Peak</th>
                                <th scope="col">PM Volume</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in all_files %}
                            <tr>
                                <td>
                                    <a href="/file/{{file.uid}}">
                                        {{ file.name() }}
                                    </a>
                                </td>
                                <td class="small-table-text">{{file.model_id}}</td>
                                <td class="small-table-text">{{ file.am_peak_start }}</td>
                                <td class="small-table-text">{{ "{0:,.0f}".format(file.am_volume) }}</td>
                                <td class="small-table-text">{{ file.pm_peak_start }}</td>
                                <td class="small-table-text">{{ "{0:,.0f}".format(file.pm_volume) }}</td>
                            </tr>
    

                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    </body>
</html>
